---
name: 'Container image'
on:
  push:
    branches:
      - main
    tags:
      - '**'
    paths-ignore:
      - README.md
  pull_request:
    paths-ignore:
      - README.md

permissions:
  packages: write # needed for ghcr access
  id-token: write # needed for keyless signing

jobs:

  mac-build:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test build script for darwin-amd64 - libgit2-all
        run: |
          make dev-test
          rm -rf ${GITHUB_WORKSPACE}/build rm -rf ${GITHUB_WORKSPACE}/libgit2
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15
      - name: Test build script for darwin-amd64 - libgit2-only
        run: |
          LIBGIT2_ONLY=true make dev-test
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15

  build:
    runs-on: ubuntu-latest
    env:
      PLATFORMS: linux/amd64,linux/arm/v7,linux/arm64
    services:
      registry:
        image: registry:2
        ports:
         - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Setup Cosign
        uses: sigstore/cosign-installer@main
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: ${{ env.PLATFORMS }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          config-inline: |
            [worker.oci]
              max-parallelism = 4
          driver-opts: network=host
      - name: Inspect builder
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"
      - name: Cache Docker layers
        uses: actions/cache@v2
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-ghcache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-ghcache-
      - run: cat ./hack/static.sh
      - name: Build candidate image - libgit2 compiled with libssh2 and openssl
        id: build_candidate_libgit2_all
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-all:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
      - name: Build candidate image - libgit2 only
        id: build_candidate_libgti2_only
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.libgit2-only
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-only:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
      - name: Inspect candidate images
        run: |
          docker buildx imagetools inspect localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-all:latest
          docker buildx imagetools inspect localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-only:latest
      - name: Test candidate images
        id: test_candidate
        run: |
          IMG=localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-all make test
          IMG=localhost:5000/${{ github.repository_owner }}/golang-with-libgit2-only LIBGIT2_ONLY=true make test
      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Compose release candidate metadata - golang-with-libgit2-all
        id: meta_libgit2_all
        uses: docker/metadata-action@v3
        if: github.event_name != 'pull_request'
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/golang-with-libgit2-all
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=sha
            type=sha,format=long
      - name: Release candidate image - golang-with-libgit2-all
        id: release_candidate_libgit2_all
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta_libgit2_all.outputs.tags }}
          labels: ${{ steps.meta_libgit2_all.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
      - name: Sign images
        env:
          COSIGN_EXPERIMENTAL: 1
        run: |
          array=($(echo ${{ steps.meta_libgit2_all.outputs.tags }} | tr '\n' " "))
          for image in "${array[@]}"
          do
            echo  "Signing $image"
            cosign sign $image
          done

      - name: Compose release candidate metadata - golang-with-libgit2-only
        id: meta_libgit2_only
        uses: docker/metadata-action@v3
        if: github.event_name != 'pull_request'
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/golang-with-libgit2-only
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=sha
            type=sha,format=long
      - name: Release candidate image - golang-with-libgit2-only
        id: release_candidate_libgit2_only
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.libgit2-only
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta_libgit2_only.outputs.tags }}
          labels: ${{ steps.meta_libgit2_only.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
      - name: Sign images
        env:
          COSIGN_EXPERIMENTAL: 1
        run: |
          array=($(echo ${{ steps.meta_libgit2_all.outputs.tags }} | tr '\n' " "))
          for element in "${array[@]}"
          do
            echo ${element}
            cosign sign $element
          done
